canvas#heart-main {
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(163, 51, 94, 0.2);
    overflow: hidden;
}

.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    width: 100vw;
    position: fixed;
    inset: 0;
    z-index: 1000;
    background-color: #e4b1ba;
  }
  
  .typing-demo {
    width: 40ch;
    animation: typing 5s steps(35), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 4em;
    color: white;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  .wrapper2 {
    height: 100vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    width: 100vw;
    position: fixed;
    inset: 0;
    z-index: 1001;
    background-color: #e4b1ba;
  }
  
  .typing-demo2 {
    width: 39ch;
    animation: typing2 5s steps(38), blink2 .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 4em;
    color: white;
  }
  
  @keyframes typing2 {
    from {
      width: 0
    }
  }
      
  @keyframes blink2 {
    50% {
      border-color: transparent
    }
  }
  @media only screen and (max-width: 600px) {
    .typing-demo2, .typing-demo {
        font-size: 2em;
      }
  }